﻿@model Libraries.Models.Book



<div class="modal fade" id="myModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Modal</h3>
            </div>
            <div class="modal-body">
                <div class="modal-text">

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">Cancel</a>
                <a href="#">Submit</a>
            </div>
        </div>
    </div>
</div>