﻿@model IEnumerable<Libraries.Models.Book>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.Id" class="elementId">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                <a data-toggle="modal" href="@Url.Action("SaveBook",new { id=item.Id })"  data-target="#myModal" data-remote="false">Edit</a>
                <a data-toggle="modal" href="@Url.Action("SaveBook", new { id = item.Id, op=-2})" data-target="#myModal" data-remote="false" data-target="#details" data-id="@item.Id" >Details</a>
                <a href="#" data-toggle="modal" data-target="#delete" data-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>

@*<div class="modal fade" id="edit" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body" id="Preview">
                    @Html.Partial("_Edit", new Libraries.Models.Book())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@

<script type="text/javascript">
    function Open(currentId) {
        $.ajax({
            type: "Get",
            url: "Books/Edit",
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        })
    }
</script>



@*<div class="modal fade" id="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Edit</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Edit", new Libraries.Models.Book())
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal">Cancel</a>
                    <a href="#">Submit</a>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="details" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Details</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Edit", new Libraries.Models.Book())
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal">Cancel</a>
                    <a href="#">Submit</a>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="delete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Details</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Delete", new Libraries.Models.Book())
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal">Cancel</a>
                    <a href="#">Submit</a>
                </div>
            </div>
        </div>
    </div>*@