﻿@model IEnumerable<Libraries.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("term") <br />
        <input type="submit" value="Filter" />
    </p>
}


<p>
    <a data-toggle="modal" href="@Url.Action("SaveBook")"  data-target="#myModal" data-remote="false">Create</a>
</p>

<div id="table-books">
    @Html.Partial("_Table", Model)
</div>

@Html.Partial("_Edit", new Libraries.Models.Book())


@section scripts{

    <script type="text/javascript">
        /*
        function hideButton() {
            var button = document.getElementById("saveButton");
            button.style.visibility = false;
        }

        function showButton() {
            var button = document.getElementById("saveButton");
            button.style.visibility = true;
        }*/
        $(document).ready(function () {
            $("#myModal").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                debugger;
                $(this).find(".modal-text").load(link.attr("href"));
            });
        });
        function createBook() {
            debugger;
            var postData = new Object();
            postData.Title = $("#Title").val();
            postData.Author = $("#Author").val();

            $.ajax({
                method: "POST",
                url: "/Books/CreateWithAjax",
                data: JSON.stringify(postData),
                contentType: "application/json; charset=utf-8",
                dataType: "json"

            }).success(function (msg) {
                debugger;
                $('#myModal').modal('hide');
                refreshTable();
            });
        }
        function editBook(id) {
            var postData = new Object();
            postData.Title = $("#Title").val();
            postData.Author = $("#Author").val();
            postData.Id = id;
            debugger;
            console.log(postData);

            $.ajax({
                method: "POST",
                url: "/Books/EditWithAjax",
                data: JSON.stringify(postData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (data) {
                    console.log(data);
                },
                success: function (data) {

                    $('#myModal').modal('hide');
                    refreshTable();
                }
            });


        }
        function refreshTable() {
            var term = $("#term").val();
            var url = "/Books/ListPartial";
            if (term != null && term != "") {
                url += "?term=" + term;
            }
            $.ajax({
                method: "GET",
                url: url,
                dataType: "html"

            }).success(function (content) {
                debugger;
                $('#table-books').html(content);
            });
        }
    </script>
}