﻿@model IEnumerable<Libraries.Models.Library>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <a href="#" data-id='@item.Id' data-toggle="modal" data-target="#myModal" >Add Book</a>
            </td>
        </tr>
    }

</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Details</h3>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Modal", "Libraries" ); }

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">Cancel</a>
                <a href="#" >Submit</a>

            </div>

        </div>
    </div>

</div>